

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">EMS</a>
    <a class="navbar-brand" routerLink="register" href="#">Register</a>
    <a class="navbar-brand" routerLink="login" href="#">Login</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <router-outlet>  
  </router-outlet>
<app-add-employee></app-add-employee>